<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageGuide. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageguide" translate="label" sortOrder="10" class="mageguide-tab">
            <label>MageGuide</label>
        </tab>
        <section id="mageguide_skroutz" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Skroutz</label>
            <tab>mageguide</tab>
            <resource>MageGuide_Skroutz::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="program_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Program ID</label>
                    <!--<validate>required-entry</validate>-->
                    <comment>Please enter Skroutz Merchant ID.</comment>
                </field>
                <field id="use_product_ids" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use product IDs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Send product IDs instead of SKUs to Skroutz. The product identification used should match the one used in the XML feed</comment>
                </field>
            </group>
        </section>
    </system>
</config>
